 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;1,100;1,200;1,300&family=Roboto:wght@300&display=swap');

 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  'Poppins', sans-serif;
 }
 body{
    line-height: 1.6;
 }
 h1{
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin: 40px 0 60px 0;
 }

 form{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
 }

 #search-input{
    width: 60%;
    max-width: 400px;
    padding: 10px 20px;
    border: none;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    font-size: 16px;
    color: #333;
 }

 #search-button{
    padding: 10px 20px;
    background-color: #138065;
    color: #fff;
    border: none;
    box-shadow:  0 0 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-size: 18px;
    margin-left: 10px;
    border-radius: 5px;
 }
 .search-results{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;

 }

 .search-result{
    margin-bottom: 40px;
    height: 80%;
    width: 30%;
    box-shadow:  0 0 6px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden;
 }
 .search-result img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: opacity 0.2s ease-in-out;
 }
 .search-result:hover img{
opacity: 0.8;
 }
 .search-result a{
    font-size: 20px;
    text-decoration: none;
    color: #333;
    display: block;
    padding: 10px;
    text-transform: capitalize;
 }
 #show-more-buttton{
    background-color: #008cba;
    color: #fff;
    font-size: 18px;
    border: none;
    padding: 10px 20px;
    margin: 30px auto;
    display: none;

    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    
 }
 @media screen and(max-width: 768px) {
    .search-results{
padding: 20px;
    }
    .search-result{
        width: 45%;
    }
 }
 @media screen and(max-width: 480px){
    .search-result{
        width: 100%;
    }
 }